/*
 * Remove GMail ads
 */

/* Remove right side ads in emails */
div.nH.adC { 
  display: none; 
}

/* Remove right side ads in vertical split view*/
table.Bs.nH.dFFoge.id.dGpsQd tr:nth-child(1)
  td[class="Bu"]:nth-child(2) {
  display: none; 
}

/* Remove ads at the end of the email in Chromium on Ubuntu */
div.nH.PS { 
  display: none; 
}

/* todo */
/* resize email content width after removing ads */
